<!DOCTYPE html>
<html>
<head>
<title>CSE 341 Week 02 Prove</title>
<style>
    .container_title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        flex-direction: column;
        align-content: space-around;
    }

    .container_input1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        flex-direction: column;
        padding-right: 600px;
        padding-left: 600px;
    }

    .container_input2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        flex-direction: column;
    }

    .container_input3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 5px, coral;
        text-align: left;
        flex-direction: column;
        padding-right: 600px;
        padding-left: 600px;
        
    }
    
</style>
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container_title">
      <h1><%= title %></h1>
    </div>
  </div>
  <div>
      <div>
        <div class="container_input1">
            <%= input1 %>
        </div>  
        <br>
        <div class="container_input2">
            <<%= input2 %>
        </div> 
        <br>
        <div class="container_input3"> 
            <%= input3 %>
        </div> 
      </div>
</div>
 
</body>
</html>
