<!DOCTYPE html>
<html>
<head>
<title>CSE 341 Week 02 Team Activity</title>
</head>
<body>
    <h1>Super Awesome User Form!!</h1>
    <% if (user) { %>
      User Added: <%= addUser %> 
    <% } %>
   
</body>
</html>
