<!DOCTYPE html>
<html>
<head>
<title>CSE 341 Week 02 Prove</title>
</head>
<body>

<h1>Personal Library of Synopsises</h1>
<form action="/prove02/submit" method="POST">
    <label name="animal">Book Title</label>
    <input type="text" name="bTitle" placeholder="War and Peace" required>
    <br>
    <label name="animal">Authur</label>
    <input type="text" name="bAuthur" placeholder="Leo Tolstoy" required>
    <br>
    <label name="name">Synopsis</label>
    <input type="text" name="bSynopsis" placeholder="Napoleon's invasion of Russia in 1812" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>
