<!DOCTYPE html>
<html>
<head>
<title>CSE 341 Week 01 Prove</title>
</head>
<body>

<h1>Super Awesome Form Completed!!</h1>
My Favortie Animal is: <%= input1 %>
<br> 
They Call Me: <%= input2 %>
</body>
</html>
