<!DOCTYPE html>
<html>
<head>
<title>CSE 341 Week 01 Prove</title>
</head>
<body>

<h1>Super Awesome Form</h1>
<form action="/prove01/submit" method="POST">
    <label name="animal">Favorite Animal</label>
    <input type="text" name="animal" placeholder="Unicorn" required>
    <br>
    <label name="name">What They Call You</label>
    <input type="text" name="name" placeholder="Dorito Man" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>
